<header>
    <section class="Color">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <div mdbCollapse #fixedNavbarExample2="mdbCollapse" class="collapse navbar-collapse"
                    id="fixedNavbarExample2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a mat-button class="primary" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="primary" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="primary" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="primary" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
                <span class="example-spacer"></span>
                <button mat-button aria-label="Example icon-button">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button mat-button aria-label="Example icon-button">
                    <i class="fab fa-instagram"></i>
                </button>
                <button mat-button aria-label="Example icon-button">
                    <i class="fab fa-twitter"></i>
                </button>
                <button mat-button aria-label="Example icon-button">
                    <i class="fab fa-linkedin-in"></i>
                </button>
        </nav>
        <div class="p-5 text-center bg-image" style="
        background-image: url('../../assets/header/page01.jpeg');
        background-repeat: no-repeat, repeat;
        height: 400px;
      ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <a mat-raised-button class="primary" href="#!" role="button">Call to action</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>