<section>
    <mat-toolbar class="Color fixed-top">
        <div color="primary">
            <span class="example-spacer"></span>
            <button mat-icon-button class="btn btn-outline-light" aria-label="Example icon-button with share icon">
                <i class="fab fa-facebook-f"></i>
            </button>
            <button mat-icon-button class="btn btn-outline-light" aria-label="Example icon-button with share icon">
                <!-- Instagram -->
                <i class="fab fa-instagram"></i>
            </button>
            <button mat-icon-button class="btn btn-outline-light" aria-label="Example icon-button with share icon">
                <!-- Twitter -->
                <i class="fab fa-twitter"></i>
            </button>
            <button mat-icon-button class="btn btn-outline-light" aria-label="Example icon-button with share icon">
                <!-- Linkedin -->
                <i class="fab fa-linkedin-in"></i>
            </button>
        </div>
    </mat-toolbar>
</section>